# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

# Project ignores (converted from .cvsignore files)
target
testclasses
classes
.settings
web/ermineJ-help
web/cites.Data
web/images/Thumbs.db
src/main/nsis/version.nsi
src/main/resources/ubic/erminej/version

#keystore, don't you dare track this
**/*.jks
.keystore

