<jnlp spec="$jnlpspec" codebase="http://www.bioinformatics.ubc.ca/ermineJ/webstart.test" href="$outputFile">
	<information>
	<title>ErmineJ</title>
	<vendor>$project.Organization.Name</vendor>
	<homepage href="http://www.bioinformatics.ubc.ca/ermineJ"/>
	<description>ErmineJ gene set enrichment analysis</description>
	<icon href="ermineJ.gif"/>
#if($offlineAllowed) 
	<offline-allowed/>
#end 
	</information>
#if($allPermissions)
	<security>
		<all-permissions/>
	</security>
#end
 	<resources>
	<j2se version="$j2seVersion" max-heap-size="512m"/>
     	$dependencies 
	</resources> 
	<application-desc main-class="$mainClass"/>
</jnlp>
