
H1 {
	textalign: center
}
H2, H3, H4, H1 {
	font-family : Arial, Helvetica, sans-serif;
	color : Olive;
}

HR {
	height : 1pt;
}

.note {
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 14px;
}

.smalltext {
	font-size : 10px;
}

.indent {
	margin-left : 8px;
}

.details {
	font-size : 11px;
	margin-bottom : 10px;
	margin-top : 10px;
}

.navtext {
	font-size : -1;
	font-family : Arial, Helvetica, sans-serif;
	color : white;
}

.instruction {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
}

.reference {
	font-size: 11px;
	font-family:Arial,Helvetica, sans-serif;
}

.formlabel {
	font-size : 11px;	
	font-family : Arial, Helvetica, sans-serif;
}

.smallsans {
	font-size : 11px;	
	font-family : Arial, Helvetica, sans-serif;
}

.footer {
	font-size: 10px;
	font-family: Arial Helvetica, sans-serif;
	background-color : #DDDDDD;

}

ul {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
}

ol {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
}

td {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.white { color:white; }
.blue { color:blue; }
.green { color:green; }
.red { color:red; }
.grey {color:#CCCCCC;}


