<jnlp spec="$jnlpspec" codebase="http://erminej.msl.ubc.ca/webstart" href="$outputFile">
	<information>
	<title>ErmineJ</title>
	<vendor>$project.Organization.Name</vendor>
	<homepage href="http://erminej.msl.ubc.ca"/>
	<description>ErmineJ gene set analysis</description>
	<icon href="ermineJ.gif"/>
#if($offlineAllowed) 
	<offline-allowed/>
#end 
	</information>
#if($allPermissions)
	<security>
		<all-permissions/>
	</security>
#end
 	<resources>
	<j2se version="$j2seVersion" java-vm-args="-Xmx3g -Xms256m -Xss8m" />
     	$dependencies 
	</resources> 
	<application-desc main-class="$mainClass"/>
</jnlp>
